* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root {
    /* --orange:#ff7800; */
    --orange: orange;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: green;
    padding: 8px;
    border-radius: 20px;
    color: white;
}
.whatsapp i{
    font-size: 25px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo span{
    color: orange;
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #666;
}

.header .navbar a:hover {
    color: crimson;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: orange;
    color: #fff;
}

#menu-btn {
    display: none;
}

/* home */
.home {
    margin-bottom: 30px;
}

.home-content {
    display: flex;
    /* flex-flow: row-reverse; */
}

.home-content p {
    color: #666;
    /* font-size: 10px; */
    /* color: #666; */
}

.image img {
    width: 35vw;
    /* margin: 0vw 10vw; */
    margin-top: 20vh;
    margin-left: 150px;
    /* background-color: yellow; */
}

.home-content .info {
    /* padding-left: 50px; */
    padding-top: 100px;
    /* background-color: rebeccapurple; */
    margin-top: 100px;
    margin-left: 50px;
    padding-left: 30px;
    /* padding-top: 80px; */
}

.home .home-content .text-1 {
    font-size: 27px;
    /* margin: 5px 0; */
    margin-bottom: 40px;
    padding-top: 0;
    margin-top: 0;
    color: orange;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin: 5px 0;
}

.home .home-content .text-2 span {
    color: crimson;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content button {
    margin: auto 0 auto 0;
    /* display: inline-block; */
    background: #1e2ba1fc;
    /* color: #fff; */
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a {
    color: #fff;
}
.home .home-content a:hover {
    color: crimson;
}

.home .home-content button:hover{
    background-color: orange;
}

/* about seciton  */

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
}


/* gallary section  */

.gallary{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 4vw;
    margin: 10vh 10vw ;
}

.h1Heading{
    text-align: center; 
    color: crimson; 
    font-weight: 600; 
    font-size: 2.5vw;
    padding: 20px;
}

.gallary .photos, .videos{
    font-size: 2vw;
    font-weight: 300;
}
.videos i{
    font-size: 10vw;
    color: aqua;
}
.photos i{
    font-size: 10vw;
    color: aqua;
}
.gallary a{
    background: #1e2ba1fc;
    padding: 10vh 10vw;
    border-radius: 5px;
}
.gallary a:hover{
    background: orange;
}
.gallary a h2{
    color: crimson;
}


/* service section  */

#services {
    /* background-color: #081d61; */
    padding: 10vh 0;
    color: crimson;
}

.container h1 {
    text-align: center;
    font-size: 3vw;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 4vw;
    margin: 10vh 10vw ;
}

.services-list div {
    background: #1e2ba1fc;
    padding: 2vw;
    font-size: 1.5vw;
    font-weight: 300;
    border-radius: 1.5vh;
    transition: background 0.5s, transform 0.5s;
}

.services-list div p {
    color: #ababab;
}

.services-list div i {
    font-size: 4vw;
    margin-bottom: 2vh;
    color:rgb(17, 158, 240);
}

.services-list dev h2 {
    font-size: 2.5;
    font-weight: 500;
    margin-bottom: 1vh;
}

.services-list div a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    margin-top: 2vh;
    display: inline-block;
}

.services-list div:hover {
    background: orange;
    transform: translateY(-10px);
}


/* footer section  */

.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}
.footer .credit p{
    color: #666;
    font-size: 10px;
}

.footer .credit span{
    color:var(--orange);
}

@media (max-width:1104px) {
    .home .max-width {
        margin-left: 0px;
    }
}


@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
    .max-width {
        padding: 0 50px;
    }

    .info {
        margin-left: 5vw;
    }

    .home-content {
        display: block;
    }

    .image img {
        margin-left: 25vw;
    }
}


@media (max-width:947px) {

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }
}

@media (max-width:850px) {


    .home-content {
        display: block;
    }

    .home-content .info {
        text-align: center;
        padding-top: 1vh;
    }
    .image img {
        margin-left: 25vw;
        width: 45vw;
        padding-top: 8vh;
    }

    .services-list {
        text-align: center;
        margin-left: 15vw;
        margin-right: 2vw;
    }
    .gallary .photos, .videos{
        font-size: 3vw;
        font-weight: 300;
    }
    .h1Heading{
        font-weight: 600; 
        font-size: 6vw;
    }  
}
@media(max-width:800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}


@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        text-align: center;
        border: 2px solid orange;
    }
    .header .navbar a:hover{
        background-color: orange;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
        border: 2px solid #666;
        margin: 5px;
        padding: 10px;
    }
    .home .home-content button {
        margin: auto 0 auto 0;        
        font-size: 5px;
        padding:10px;
        margin-top: 20px;
    }
}


@media (max-width:690px) {
    .max-width {
        padding: 0 2vw;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 30px;
    }

    .home .home-content a {
        font-size: 20px;
        padding: 9px 25px;
    }
}

@media (max-width:650px) {


 
    .home-content {
        display: block;
    }

    .home-content .info {
        padding-left: 0vw;
        padding-top: 4vh;
        margin-left: 0;
    }

    .image img {
        margin-left: 25vw;
        width: 50vw;
        margin-top: 10vh;
    }

    .gallary a{
        padding: 8vw;
    }
    .services-list {
        display: block;
    }
    .h1Heading{
        font-weight: 600; 
        font-size: 6vw;
    }  

}

@media(max-width:600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
    .whatsapp i{
        font-size: 20px;
    }
}

@media (max-width:500px) {
    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-1 {
        font-size: 30px;
    }
    .home .home-content .text-3 {
        font-size: 25px;
    }

    .home .home-content .info{
        padding-left: 0vw;
        margin-left: 0;
        /* padding-right: 7vw; */
    }

    .image img {
        margin-left: 18vw;
        width: 50vw;
        padding-top: 5vh;
    }
    .services-list {
        text-align: center;
        margin-left: 0vw;
    }

    .services-list div {
        margin-bottom: 5vh;
        font-size: 5vw;
    }

    .services-list div i {
        font-size: 15vw;
    }

    .services-list div a {
        font-size: 5vw;
    }
    .h1Heading{
        font-weight: 600; 
        font-size: 5vw;
    }  

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }
    .home .home-content button {
        font-size: 4px;
        margin-top: 20px;
    }
    .gallary .photos, .videos{
        font-size: 3vw;
    }
      .whatsapp{
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 10px;
        padding: 8px;
    }
    .whatsapp i{
        font-size: 15px;
    }
}

